body {
    margin: 0;
    font-family: arial;
}

div.cover {
    background: url('Images/cover_overlay.png') no-repeat center/100% 100%, url('Images/cover.jpg') no-repeat center/cover;
    height: 360px;
    padding-top: 100px;
    position: relative;
}

/* --- profile picture + background of profile picture --- */

img.profilepic {
    width: 150px;
    position: relative;
    padding-top: 2.5px;
    padding-left: 2.5px;
}

.imgbackground {
    width: 155px;
    height: 155px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

/* ------------------------------------------------------- */


.imgposition {
    display: flex;
    justify-content: center;
}

.cover h1 {
    color: white;
    text-align: center;
}

.cover p {
    color: lightgray;
    text-align: center;
}

/* ------------------Div Contact--------------------------- */

.contact {
    position:absolute;
    top: 30px;
    left: 20px;
    border-left: #D89584 solid 3px;
    color: white;
    font-size: 14px;
}

.contact td a{ 
    padding-left: 15px;
    color: white;
}

/* ---------------Bouton ME CONTACTER---------------------- */

.boutoncontact:link {
    color: #D89584;
    text-decoration: none;
    border: #D89584 solid 3px;
    background-color: #00000070;
    padding: 15px;
    transition-duration: 0.4s;
}

.boutoncontact:hover {
    background-color: #D89584;
    color: white;
}

.position {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

